build_mac/build*
build_mac/*.xcodeproj/project.xcworkspace
build_mac/*.xcodeproj/*.mode1v3
build_mac/*.xcodeproj/*.pbxuser
build_mac/*.xcodeproj/xcuserdata
build_msw
build_msw/build*
build_raspi_bm/build*
build_raspi_bm/kernel*
common/y.tab.*
*/.DS_Store
.DS_Store
_*
*/_*
binaries
